<main class="my-5">
  <div class="container">
    <section class="text-center text-md-start">
      <div class="row d-flex">
        <div class="col-md-8">

          <button type="button" class="d-flex btn btn-rounded custom-button" 
            data-mdb-ripple-color="dark"
            data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Comparte tu experiencia
          </button>

          <div class="row d-flex custom-post" id="post"></div>

          <div class="row d-flex custom-post">
            <div class="col-md-9 d-flex custom-card-post">
              <div class="col-md-12 custom-content">
                <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                  <div class="container-fluid custom-nav">
                    <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar" height="22" alt="" loading="lazy" />
                    <div class="user-name">
                      viajeraSinFronteras
                    </div>
                  </div>
                </nav>
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="assets/images/try.jpeg" class="img-fluid" />
                    <div style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </div>
              <div class="custom-row-description">
                <i class="far fa-heart custom-heart"></i>
                <i class="far fa-comment-alt"></i>
              </div>
              <div class="row d-flex custom-row-description">
                <div class="col-md-8 mb-4 d-flex custom-description">
                  <div class="user-name">
                    viajeraSinFronteras
                  </div>
                  <p>
                    Buenavista, ya sabemos por qué ese nombre. Tienen que venir, se los juro:)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-lg-3 col-md-3 mb-4 custom-card">
            <div class="card custom-main-card">
              <div class="card-header custom-card-header">
                Sugerencias para ti
              </div>
              <div class="card-body">
                <div class="d-flex custom-information">
                  <img src="./images/mocawa.image.jpeg" class="rounded-circle" height="22" alt="" loading="lazy" />
                  <a href="https://www.hotelmocawaresort.com/" target="_blank">Hotel Mocawa Resort</a>
                </div>
                <div class="d-flex custom-information">
                  <img src="./images/termales.image.jpeg" class="rounded-circle" height="22" alt="" loading="lazy" />
                  <a href="https://termales.com.co/en/" target="_blank">Termales de Santa Rosa</a>
                </div>
                <div class="d-flex custom-information">
                  <img src="./images/juanb.image.jpeg" class="rounded-circle" height="22" alt="" loading="lazy" />
                  <a href="https://www.valledelcocora.com.co/" target="_blank">Restaurante en el Valle de
                      Cocora</a>
                </div>
                <div class="d-flex custom-information">
                  <img src="./images/nevadodelruiz.image.jpeg" class="rounded-circle" height="22" alt=""
                    loading="lazy" />
                  <a href="https://bit.ly/3lZgPMO" target="_blank">Nevado del Ruíz</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>