<app-header></app-header>

<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <div class="row d-flex custom-profile">
      <div class="col-md-4 user-information">
        <div class="user-name">
          <h1>
            Mariah Carey
          </h1>
        </div>
        <div class="user-description">
          <h4>
            Soy una super viajera.
          </h4>
        </div>
        <div class="contact">
          <p><a href="">Message</a></p>
          <p><a href="">Visited Places</a></p>
          <p><a href="">Opinions</a></p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="container">
          <!--Section: Content-->
          <section class="text-center">

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="card">
                  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                    <div class="container-fluid custom-nav">
                      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar"
                        height="22" alt="" loading="lazy" />
                      <div class="user-name">
                        viajeraSinFronteras
                      </div>
                    </div>
                  </nav>
                  <div class="bg-image hover-overlay ripple custom-image" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                    <a href="#!">
                      <div style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="d-flex custom-row-description">
                      <i class="far fa-heart custom-heart"></i>
                      <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="d-flex user-name">
                      viajeraSinFronteras
                    </div>
                    <p class="d-flex card-text custom-card-content">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="card">
                  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                    <div class="container-fluid custom-nav">
                      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar"
                        height="22" alt="" loading="lazy" />
                      <div class="user-name">
                        viajeraSinFronteras
                      </div>
                    </div>
                  </nav>
                  <div class="bg-image hover-overlay ripple custom-image" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                    <a href="#!">
                      <div style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="d-flex custom-row-description">
                      <i class="far fa-heart custom-heart"></i>
                      <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="d-flex user-name">
                      viajeraSinFronteras
                    </div>
                    <p class="d-flex card-text custom-card-content">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="card">
                  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                    <div class="container-fluid custom-nav">
                      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar"
                        height="22" alt="" loading="lazy" />
                      <div class="user-name">
                        viajeraSinFronteras
                      </div>
                    </div>
                  </nav>
                  <div class="bg-image hover-overlay ripple custom-image" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                    <a href="#!">
                      <div style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="d-flex custom-row-description">
                      <i class="far fa-heart custom-heart"></i>
                      <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="d-flex user-name">
                      viajeraSinFronteras
                    </div>
                    <p class="d-flex card-text custom-card-content">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="card">
                  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                    <div class="container-fluid custom-nav">
                      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar"
                        height="22" alt="" loading="lazy" />
                      <div class="user-name">
                        viajeraSinFronteras
                      </div>
                    </div>
                  </nav>
                  <div class="bg-image hover-overlay ripple custom-image" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
                    <a href="#!">
                      <div style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="d-flex custom-row-description">
                      <i class="far fa-heart custom-heart"></i>
                      <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="d-flex user-name">
                      viajeraSinFronteras
                    </div>
                    <p class="d-flex card-text custom-card-content">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="card">
                  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                    <div class="container-fluid custom-nav">
                      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar"
                        height="22" alt="" loading="lazy" />
                      <div class="user-name">
                        viajeraSinFronteras
                      </div>
                    </div>
                  </nav>
                  <div class="bg-image hover-overlay ripple custom-image" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/022.jpg" class="img-fluid" />
                    <a href="#!">
                      <div style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="d-flex custom-row-description">
                      <i class="far fa-heart custom-heart"></i>
                      <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="d-flex user-name">
                      viajeraSinFronteras
                    </div>
                    <p class="d-flex card-text custom-card-content">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="card">
                  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
                    <div class="container-fluid custom-nav">
                      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle custom-avatar"
                        height="22" alt="" loading="lazy" />
                      <div class="user-name">
                        viajeraSinFronteras
                      </div>
                    </div>
                  </nav>
                  <img src="../turistic-place-profile/images/try.jpeg" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <div class="d-flex custom-row-description">
                      <i class="far fa-heart custom-heart"></i>
                      <i class="far fa-comment-alt"></i>
                    </div>
                    <div class="d-flex user-name">
                      viajeraSinFronteras
                    </div>
                    <p class="d-flex card-text custom-card-content">
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--Section: Content-->

        </div>
      </div>
    </div>
  </div>
</main>
<!--Main layout-->