<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <!-- Name -->
    <a class="navbar-brand custom-name">Travelers</a>
    <!-- Name -->

    <!-- Search Bar -->
    <form class="d-flex input-group w-auto">
      <input type="search" class="form-control rounded custom-input" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    </form>
    <!-- Search Bar -->

    <!-- Avatar -->
    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
      data-mdb-toggle="dropdown" aria-expanded="false">
      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
        loading="lazy" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#">My profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Settings</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Logout</a>
      </li>
    </ul>
    <!-- Avatar -->

  </div>
</nav>