<body>
  <section class="vh-100 custom-background">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-6">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form id="formLogin custom-form">

                    <div class="mb-3 pb-1">
                      <h1>
                        Viajeros
                      </h1>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" id="formEmail" class="form-control form-control-lg" required />

                      <label class="form-label" for="form2Example17">Correo</label>
                    </div>

                    <div id="validation"></div>

                    <div class="form-outline mb-4">
                      <input type="password" id="formPassword" class="form-control form-control-lg" required />
                      <label class="form-label" for="form2Example27">Contraseña</label>
                    </div>

                    <div class="pt-1 mb-4">
                      <button type="button" class="btn btn-lg btn-block custom-button" onclick="Userlogin()">Login</button>
                    </div>

                    <div>
                      <p class="d-flex custom-register mb-5 pb-lg-2">
                        Don't have an account?
                        <a href="#!">
                          <button type="button" class="btn btn-sm custom-button" data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal">Register</button>
                        </a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="formRegister">
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="formNameRegister" class="form-control custom-form" required />
                  <label class="form-label" for="form3Example1" name="userCreate">Usuario</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="formEmailRegister" class="form-control" required />
              <label class="form-label" for="form3Example3" name="userEmail">Correo</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="formPasswordRegister" class="form-control" required />
              <label class="form-label" for="form3Example4" user="userPass">Contraseña</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-mdb-dismiss="modal">Close</button>
          <button type="button" class="btn" onclick="createUser()">Register</button>
        </div>
      </div>
    </div>
  </div>




  <script src="#"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>
